.header-warpper{
    grid-area: hd;
    background-color: #344955;
    color: #fff;
    margin: 0;
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
}

.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    list-style: none;
    margin: 0;
    padding: 0 3px;
}

.nav-button{
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    display: inline-block;
    transition: all 0.3s ease-out;
    font-size: 1.2rem;
}

.nav-button:hover{
    color: #F9AA33;
    transform: scale(1.1);
}

.social a img{
    width: 40px;
    height: 40px;
    margin: 10px;
    transition: all 0.3s ease-out;
    transition-duration: 0.8s;
}

.social a:hover{
    transform: scale(1.15);
}