.img img{
    display: block;
    height: auto;
    max-width: 100%;
}

.continent{
    font-size: 80%;
    color: #999;
    text-decoration: none;
    position: relative;
    top: 10px;
}

.continent:hover{
    color: #000;
}

.fig{
    margin: 0px;
}

.fig figcaption{
    text-align: end;
    position: relative;
    top: -25px;
    color: #ddd;
    margin: 0 5px 0 0;
}

.head-liner a{
    text-decoration: none;
    color: #000;
}

.head-liner a:hover{
    text-decoration: underline;
    color: #F9AA33;
}

.quote p{
    text-align: center;
}

.read-more{
    text-align: end;
    vertical-align: bottom;
}

.read-more a{
    text-decoration: none;
    color: #000;
}

.read-more a:hover{
    color: #abafc5;
}

.share-social a img{
    width: 30px;
    height: 30px;
    margin: 5px 0px;
    transition: all 0.3s ease-out;
    transition-duration: 0.8s;
}

.share-social a:hover{
    transform: scale(1.15);
}